.project-title {
    text-align: center;
    margin: 2em;
}

.project-grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.project-card {
    width: 66%;
    margin: 0 auto;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 7px;
    box-shadow: 0 2px 5px 2px rgb(212, 212, 212);
    transition: all ease .2s;
    position: relative;
    top: 0;
}

.project-card:hover {
    transform: scale(1.01);
    top: -10px;
    box-shadow: 0 -3px 9px 5px rgb(237, 237, 237);
}

.project-image {
    width: 90%;
    margin: 0 auto;
}


.project-text {
    background: whitesmoke;
    padding-top: .5em;
    padding-bottom: 2em;
}