.projects-container {
    /* height: 100dvh; */
    width: 90%;
    max-width: 1800px;
    margin: 1em auto;
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 2rem);

}

.project-title {
    text-align: center;
    margin: .5em;
}

.project-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.project-card {
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 7px;
    box-shadow: 0 2px 5px 2px rgb(212, 212, 212);
    transition: all ease .2s;
    position: relative;
    top: 0;
}

.project-card:hover {
    top: -3px;
    box-shadow: 0 5px 9px 5px rgb(218, 217, 217);
}

.project-text {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(238, 238, 238, 0.8) 0%, rgba(255, 255, 255, 1) 23%);
    padding-top: .5em;
    padding-bottom: 2em;
}

.github-link {
    width: 15%;
    margin: 1em auto 0;
}

@media(min-width: 709px) {
    .project-grid-container {
        grid-template-columns: 1fr 1fr;

    }
}