.landing-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(215, 215, 215, 0.8) 0%, rgb(255, 255, 255) 100%);
}

.name-container {
  position: relative;
}

.hello {
  /* font-size: .85em; */
  margin-right: 5px;
}

.name {
  display: inline-block;
  font-size: 7em;
  overflow: hidden;
  position: relative;
  top: .433em;
  padding: 0;
  animation: 2s anim-lineUp ease-out, color-change 2s ease-out infinite;
}

.color-change {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bio-text {
  font-size: 1.25em;
  margin: .5em;
}



/* animations */

/* line up */
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(-20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* color change */
@keyframes color-change {
  to {
    background-position: 200% center;
  }
}