.title {
    font-size: 2em;
    text-align: center;
}

.daily-item {
    max-height: 75px;
    background-color: #dddddd;
    border-radius: 7px;
    margin: .5em auto .25em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    text-align: center;
    gap: 7px;
}

.daily-item > * {
    cursor: pointer;
}

.icon-small {
    width: 50%;
    max-width: 75px;
    max-height: 75px;

}

.day {
    color: #212121;
    font-weight: 600;
}

.desc {
text-align: left;
}

.min-max {
    color: #757575
}

.daily-details-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 7px;
    margin-bottom: .75em;
}

.daily-details-grid-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .daily-details-grid-item label:first-child {
    color: #636363;
}

.daily-details-grid-item label:last-child {
    color: #212121;
}

.daily-details-grid-item label.dark {
    color: #444444;
}

.daily-details-grid-item label.light {
    color: #fff;
} */